# Ignore node_modules (these will be installed during the build)
node_modules/

# Ignore any logs
*.log

# Ignore build files if you're rebuilding them in Docker
build/
dist/

# Ignore local environment files
*.env

# Ignore Git files
.git/
.gitignore

# Ignore any temporary or editor-specific files
*.swp
*.swo
*.bak
*.idea
.vscode
